doctype html
html
	head
		link(rel="stylesheet", href="css/style.css")
		meta(charset="utf-8")

	body
		.email_container
			.email-header
				.email-center
					a.email-logo(href="https://www.youtube.com/watch?v=TWFYQxevE9k")
						img(src="img/logo.png", alt="logo" )
					.email-social-wrap
						a(href="#")
							img(src="img/soc_twitter.png", alt="social-twitter")
						a(href="#")
							img(src="img/soc_vk.png", alt="social-twitter")
						a(href="#")
							img(src="img/soc_fb.png", alt="social-twitter")
					.email-header-top.
						Самое лучшее предложение <br>из всех, которые Вы получали
					a(href="#").email-button Подробнее
			.email-content

					.email-tizer-wrap
						.email_tizer_item
							img(src="img/icon_1.png", alt="icon_1")
							p У нас есть лапки
						.email_tizer_item
							img(src="img/icon_2.png", alt="icon_2")
							p ... и бумажные самолетики
						.email_tizer_item
							img(src="img/icon_3.png", alt="icon_3")
							p Кроме того, у нас есть чемодан
						//- - for (var x = 1; x <= 3; max++ )
						//- 	.email_tizer_item
						//- 		img(src="img/icon_"+x+".png")
					.email-sales-text.
						Заказывая сейчас - получаете скидку
					.email-product-wrap
						.email-product-item
							img(src="img/items/1.jpg", alt="item-1")
							p 2 000 руб.
							.toOrder-item.
								Заказать
						.email-product-item
							img(src="img/items/2.jpg", alt="item-2")
							p 2 000 руб.
							.toOrder-item.
								Заказать
						.email-product-item
							img(src="img/items/3.jpg", alt="item-3")
							p 2 000 руб.
							.toOrder-item.
								Заказать
						.email-product-item
							img(src="img/items/4.jpg", alt="item-4")
							p 2 000 руб.
							.toOrder-item.
								Заказать
			.email-footer.
				ООО “Лучшее предложение” Отписаться от рассылки
				